@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #9A3B84 , #0D7377);
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: fixed;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #9A3B84 , #0D7377);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
}

#active:checked~.menu-btn {
    background: #fff;
    color: #4158d0;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #038298;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}


header {
    color: white;
    background-image: url(../img/banner.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;



}

#darkness {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#darkness2 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 55px;
}

#jumpbutton {
    color: transparent;
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px;
    margin-bottom: 30vh;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}
#jumpbutton:hover{
    font-size: 23px;
    transition: all ease-in-out 0.3s;
}

main{
    height: 100vh;
}

footer {
    height: 40vh;
    background: linear-gradient(-135deg, #9A3B84 , #0D7377);
    color: white;
}
footer a{
    text-decoration: none;
    color: rgb(253, 245, 226);
}
footer ul{
    list-style: none;
    padding: 0;
}
#darkness3 {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.scroll-text {
    opacity: 0; /* Kezdetben átlátszó */
    transform: translateY(30px); /* Egy kicsit lentebb, hogy ne jelenjen meg azonnal */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Fokozatos megjelenés */
    max-width: 800px; /* Korlátozott szélesség */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Kezdetben erősebb árnyék */
}

.scroll-text.visible {
    opacity: 1; /* Láthatóvá válik */
    transform: translateY(0); /* Fokozatosan visszatér a helyére */
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Az árnyék eltűnik */
}